QUASAR_BASE_URL=
QUASAR_USERNAME=
QUASAR_PASSWORD=
WORKDAY_REPORT_BASE_URL=
WORKDAY_REPORT_USERNAME=
WORKDAY_REPORT_PASSWORD=
CLAUDE_ENDPOINT=
CLAUDE_API_KEY=
CLAUDE_MODEL=
CANVAS_BASE_URL=
CANVAS_USERNAME=
CANVAS_PASSWORD=
